<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @microposts.each do |micropost| %>
  <div>
    <strong>Micropost:</strong>
    <p> <%= micropost.content %> </p>
    <p> <%= micropost.user_id %> </p>
    <p> <%= micropost.created_at %> </p>

  </div>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
